*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #aaaaaa;
    color: white;
    background-image: url(../images/background.gif);
}
.navbar-brand{
    vertical-align: middle;
}
 .navbar-nav{
      padding-top: 25px;
  }
  .navbar{
      background-color:#6A9A1F;
      margin-bottom: 2em;
  }

 .sectionOne{
     display:none;
 }
 .sectionTwo{
    display:none;
}
.sectionThree{
    display:none;
}
.sectionFour{
    display:none;
}
.sectionFive{
    display:none;
}
.sectionSix{
    display:none;
}
h4{
    color: black;
}
 @media(max-width:991px){
     .forPC{
         display: none;
     }
     .mainImage{
         display:none;
     }
     .owen{
         display:none;
     }
 }
 @media(min-width:992px){
    .otherThanPc{
        display: none;
    }
    .smallImage{
        display: none;
    }
    .smallOwen{
        display:none;
    }
}
